body{
    text-align: center;
   
}

h1{
    color: rgb(240, 9, 9);
    font-size: 45px;
}


.btn{
    height: 125px;
    width: 125px;
    border-radius: 20%;
    border: 5px solid black;
    margin: 1.75rem;
    background-color: grey;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.flash{
    background-color: red;
}

.userFlash{
    background-color: white;
}
.home-btn {
      position: fixed;
      top: 20px;
      left: 20px;
      background: rgba(255, 0, 0, 0.2);
      border: 1px solid rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(8px);
      padding: 10px 20px;
      border-radius: 30px;
      color: black;
      text-decoration: none;
      font-weight: bold;
      transition: background 0.3s ease, transform 0.3s ease;
      z-index: 1000;
    }

    .home-btn:hover {
      background: rgba(102, 84, 84, 0.35);
      transform: scale(1.05);
    }